@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor-fonte: #12100B;
  --cor-botao: #877B66;
  --cor-fundo: #FFFFFF;
  --cor-home: #262626;
  --fonte-princiapl: "Montserrat";
  --borda: #877b663c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--cor-fundo);
  font-family: var(--fonte-princiapl);
}

header{
  padding: 10px 20px;
  display: flex;
  width: 100%;
  height: 100px;
  border: solid var(--borda);
  gap: 100px;
}

.logo{
  width: fit-content;
  height: 100%;
}

.logo img{
  max-height: 100%;
  object-fit: cover;
}

.menuNav{
  width: 100%;
  height: 100%;
}

.menuNav>ul {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.menuNav>ul>li{
  list-style: none;
}

.destaque{
  text-decoration: none;
  color: var(--cor-fonte);
  position: relative;
  padding-bottom: 40px;
}

.destaque::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor-botao);
  transition: width 0.2s ease;
}

.destaque:hover::after{
  width: 100%;
}

.home{
  margin-top: 10px;
  background: var(--cor-home);
  width: 100%;
  height: 100vh;
  display: flex;
}

.slogan{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 0px 0px 0px 20px;
  font-family: var(--fonte-princiapl);
  color: var(--cor-fundo);
  text-transform: uppercase;
  font-size: 2em;
}

.slogan>h3{
  font-size: 0.8em;
  width: fit-content;
  color: var(--cor-botao);
  border: solid var(--cor-botao);
  border-radius: 40px;
  padding: 10px;
}

.slogan>h3:hover{
  background-color: var(--cor-botao);
}

.slogan>h3>a{
  text-decoration: none;
  color: var(--cor-fundo);
}

.sloganImg{
  width: fit-content;
  height: 100%;
}
.sloganImg img{
  max-height: 100%;
  object-fit: cover;
}