@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-fonte: #12100b;
  --cor-botao: #877b66;
  --cor-fundo: #ffffff;
  --cor-home: #262626;
  --cor-sobre: #f5efe7;
  --cor-prodDest: #f7f7f9;
  --fonte-princiapl: "Montserrat";
  --borda: #877b663c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--cor-fundo);
  font-family: var(--fonte-princiapl);
  overflow-x: hidden;
}

header {
  padding: 10px 20px;
  display: flex;
  width: 100%;
  height: 15vh;
  border: solid var(--borda);
  gap: 100px;
}

.logo {
  width: fit-content;
  height: 100%;
}

.logo img {
  max-height: 100%;
  object-fit: cover;
}

.menuNav {
  width: 100%;
  height: 100%;
}

.menuNav > ul {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.menuNav > ul > li {
  font-size: 1.2em;
  list-style: none;
}

.destaque {
  text-decoration: none;
  color: var(--cor-fonte);
  position: relative;
  padding-bottom: 45px;
}

.destaque::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor-botao);
  transition: width 0.4s ease;
}

.destaque:hover::after {
  width: 100%;
}

.home {
  margin-top: 10px;
  width: 100vw;
  height: 82vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  display: flex;
  width: 90vw;
  height: 82vh;
  flex-direction: row;
  justify-content: center;
}
.slogan {
  width: 100%;
  background: var(--cor-home);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  padding: 0px 0px 0px 20px;
  font-family: var(--fonte-princiapl);
  color: var(--cor-fundo);
  text-transform: uppercase;
  font-size: 2em;
}

.slogan > a {
  font-size: 0.8em;
  width: fit-content;
  text-decoration: none;
  color: var(--cor-fundo);
  border: solid var(--cor-botao);
  border-radius: 30px;
  transition: 1s;
  padding: 15px;
}

.slogan > a:hover {
  background-color: var(--cor-botao);
}

.slogan > a > a {
  text-decoration: none;
  color: var(--cor-fundo);
}

.container #tenis-baner {
  max-width: 50vw;
  object-fit: cover;
}

.sobre {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  background: var(--cor-prodDest);
}
#titulo-sobre,#titulo-prod-destaque {
  font-size: 2em;
  width: 90vw;
  color: var(--cor-botao);
  padding: 20px 0;
}
.sobreDiv {
  height: 100%;
  width: 100%;
  background: var(--cor-sobre);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
#foto-cidade {
  filter: grayscale();
  max-width: 50vw;
  object-fit: cover;
}
.sobreDiv img {
  height: 28vh;
  margin-top: 40px;
}

.sobreTexto {
  color: var(--cor-home);
  font-family: var(--fonte-princiapl);
  height: 100%;
  padding: 0px 20px;
}

.sobreTexto h3 {
  font-size: 2em;
  color: var(--cor-botao);
  text-transform: uppercase;
}

.sobreTexto p {
  margin-top: 30px;
  font-size: 1.2em;
  text-align: justify;
}

.produtosDestaque{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.grid{
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3,25vw);
  gap: 10px;

}
.produtos-card{
  display: flex;
  gap: 5px;
  padding: 25px;
  flex-direction: column;
  height: 100%;
  border: solid var(--borda) 2px;
}
.produtos-card img{
  max-width: 100%;
  object-fit: cover;
}
.preco-antigo{
  text-decoration: line-through;
  font-size: 10px;
}
.compra{
  width: fit-content;
  padding: 5px;
  background-color: var(--cor-botao);
  color: var(--cor-fundo);
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.compra:hover{
background: var(--cor-fonte);
cursor: pointer;
}
footer{
height: 50vh;
background: var(--cor-home);
}
